
name: Ready
# This workflow is triggered by 'ready' branches 

on:
  workflow_dispatch:
  push:
    branches: 
      - 'ready/*'
      
jobs:

 
  fast-forward-merge:
    name: Merge
    permissions:
      contents: write
    secrets:
      token: ${{ secrets.READY_PUSHER }}
    uses: thetechcollective/workflows/.github/workflows/doing_fast_forward.yaml@stable
    with:
      target_branch: main #default is main
      user_name: "GitHub Action: ready"
      user_email: "tt-ready@thetechcollective.dev"

  close_issue:
    needs: fast-forward-merge
    permissions:
      issues: write
      contents: write
    uses: thetechcollective/workflows/.github/workflows/doing_close_issue.yaml@stable
    with:
      user_name: "GitHub Action: ready"
      user_email: "tt-ready@thetechcollective.dev"
      delete_issue_branch: true # default is true
      delete_ready_branch: true # default is true